{
    "parser": "babel-eslint",
    "extends": [
        "semistandard",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "flowtype"
    ],
    "ecmaFeatures": {
        "browser": true,
        "jsx": true
    },
    "globals": {
        "Generator": true
    }
}
